 .about {

 @media screen and (min-width: 768px) {
  display: flex;

 }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
   flex-wrap: wrap;
   margin: -15px;
 }
} 

.about__item {
    max-width: 450px;

  @media screen and (min-width: 768px) {
      max-width: 354px;
          flex-basis: calc((100% - 2 * 30px) / 2);
          margin: 15px;
        }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.about__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px){
  margin-right: 30px;
    }
      
}

.about__box {
   display: flex;
  align-items: center;
  justify-content: center; 

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;

}

.about__icon {
  width: 70px;
  height: 70px;
}

.about .about__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  color: var(--primary-text-color);
  text-transform: uppercase;

      @media screen and (max-width: 767px) {
        text-align: center;
}
}
.about__text {

  line-height: 1.71;
  color: var(--secondary-text-color);

}
