:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --addition-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --icons-color: #afb1b8;
  --secondary-bg-color: #f5f4fa;
  --primary-bg-color: #ffffff;
  --reverse-text-color: #ffffff;
}
